<% if current_user.usertype.eql?("Coordinador") || current_user.usertype.eql?("Admin") %>
  <div id="main1">
    <div id="main2">
      <div id="left">
        <div class="column-in">
          <h2>
            <p id="lccont" class="btn">
              <%= link_to "Agregar programa nuevo", programs_new_path %>
            </p>
          </h2>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% unless @program_list.nil? %>
  <% if @program_list.size>0 %>
    <table  border="1">
      <th>Código</th>
      <th>Nombre</th>
      <th>Estado</th>
      <% if current_user.usertype.eql?("Coordinador") || current_user.usertype.eql?("Admin") %>
        <th colspan="3">Acciones</th>
      <% end %>

      <%= render @program_list %>
    </table>
    <%= will_paginate @program_list  %>
  <% else %> 
    <p>No existen programas disponibles</p>
  <% end %>  
<% end %>