<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <%#*<h1><%=  I18n.t('bienvenida.mensaje')></h1>%>
<%= image_tag("masterclass_small.png", alt: "MasterClass",:size=> 50*50) %>



  <%#= link_to "Sign in!", signin_path, class: "btn btn-large btn-primary" %>
  </div>

 