<% if current_user.usertype.eql?("Coordinador") || current_user.usertype.eql?("Admin") %>
  <div id="main1">
    <div id="main2">
      <div id="left">
        <div class="column-in">
          <h2>
            <p id="lccont" class="btn">
              <%= link_to image_tag('log_agregar.png')+" Agregar usuario", users_new_path %> 
            </p>
          </h2>
        </div>
      </div>
      <%  if current_user.usertype.eql?("Admin") %>
        <div id="middle">
          <div class="column-in" style="padding-left: 10px;">
            <h2>  
              <p id="mccont"  class="btn"> 
                <%= link_to image_tag('iconosubir-03.png')+"Cargar usuarios", users_cargar_usuarios_path %> 
              </p>
            </h2>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<% unless @user_list.nil? %>
  <table  border="1">
    <tr>

      <th>Nombre</td>
      <th>e-mail</td>

        <% if current_user.usertype.eql?("Coordinador") || current_user.usertype.eql?("Admin")%>

        <th>Estado</td>

        <th colspan="4">Acciones</td>
        <% else %>
        <th >Acciones</td> 
        <% end %>
    </tr>

    <%= render @user_list %>
  </table>
  <%= will_paginate @user_list  %>
<% end %>