<div class="table">
  <div class="row">
    <div class="cell">
      <%= high_chart("my_id4", @barChartEstMaes)  %>
    </div>
  </div>
  <div class="row">
    <div class="cell">
      <%= high_chart("my_id5", @barChartEstClass)  %>
    </div>
  </div>

</div>