<header>

  <div id="header">
    <div id="left">
      <div class="column-in">

        <%= link_to image_tag("masterclass_medium.png", alt: "MasterClass"), root_path %>
      </div>
    </div>
    
    <div id="middle">
      <div class="column-in">
        <h1 style="margin-top: 100px;">MasterClass</h1>
      </div>
    </div>
  </div>

</header>
